/*Add your CSS below!*/

div {
	display: inline-block;
	margin-left: 5px;
	height:100px;
    width:100px;
    border-radius:100%;
    border:2px black solid
    
}
.friend{
    background-color:green;
}
.family{
    background-color:blue;
}
.enemy{
    background-color:red;
}