#header{
    border-radius:5px;
    height:50px;
    width:50px;
    background-color:blue;
    position:fixed;
    z-index:1;
    }
.left{
    border-radius:5px;
     border-radius:5px;
    height:80px;
    width:70px;
    background-color:red;
    float:left;
}
.right{
    border-radius:5px;
     border-radius:5px;
    height:50px;
    width:50px;
    background-color:pink;
    float:right;
}
#footer{
    border-radius:5px;
     border-radius:5px;
    height:80px;
    width:90px;
    background-color:green;
    clear:both;
}